<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skripsi.adeahmadfaisal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_stat_onesignal_default"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Lokasi.LokasiDealer"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Lokasi.ActLokasi"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity android:name=".splashcreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Register"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BookingService.form_BookingService"
            android:label="form_BookingService"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BookingService.edit_BookingService"
            android:label="edit_BookingService"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".mycar.editMycar"

            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".sparepart.ActSparepart"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Lokasi.MapsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".userprofile.userprofile"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".sparepart.Formsparepart"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".mycar.ActSemuamobil"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".mycar.formMycar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mycar.ActMycar"
            android:label="@string/title_activity_act_mycar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BookingService.PilihMobil"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".userprofile.resetPassword"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BookingService.ActBookingService"
            android:label="@string/title_activity_act_booking_service"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".notification.MyNotificationExtenderService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>